@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.image {
  background-image: url("../images/itukushima.jpg")
}

.line-break {
 word-break: break-all;
 white-space: normal;
}

th,td{
 white-space: nowrap;
}
