<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>投稿編集</h1>
  		<%= render 'form', post: @post %>
  		<!-- showページに遷移に修正 -->
  		<%= link_to 'Show', root_path %> |
  		<%= link_to 'Back', user_posts_path, class: "back" %>
  </div>
</div>