<div class='container'>
  <h4 class="col-2 bg-light text-center">会員一覧</h4>
  <div class='row'>
    <div class="col-md-12 px-5 px-sm-0">
   <table class='table border-bottom'>
    <thead class="bg-light">
     <tr>
       <th>会員ID</th>
       <th>名前</th>
       <th>メールアドレス</th>
       <th></th>
     </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>

        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name,admin_user_path(user.id) %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.active_for_authentication? %>
              <p class="text-success font-weight-bold">有効</p>
            <% else %>
              <p class="text-secondary font-weight-bold">退会</p>
            <% end %>
          </td>
        </tr>
      <% end %>
     </tbody>
   </table>
   </div>
  </div>
</div>
